.button {
  border: none;
  background-color: transparent;
  height: 40px;
  font-size: 18px;
  color: #312229;
  font-weight: 500;
  border-radius: 5px;
  margin: 5px 0;
}

.filled-button {
  background-color: #B18653;
  color: #EAE2D7;
}
