.error {
  font-size: 13px;
  color: #D7022A;
}

.columnWrapper {
  display: flex;
  flex-direction: column;
}

.page {
  background-color: #EAE2D7;
  flex: 1;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
}

.full {
  height: calc(100vh - 60px);  
}

.pageContent {
  padding: 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}