.loaderContainer {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(49, 34, 41, .50);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
}

.loaderText {
  color: #312229;
}